/* Search IP Part */
.serachIP-container {
    background: linear-gradient(270deg, #2f3dff8e, #008cff, #6200ffe2, #bb00c5d7);
    background-size: 800% 800%;
    animation: gradient 55s ease infinite;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding-bottom: 65px;
    padding-top: 50px;
}
.ip-input { 
    width: 475px;
    padding-left: 20px;
    height: 51px;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    box-sizing: border-box;
}
.submit-btn{
    width: 53px;
    height: 51px;
    position: absolute;
    bottom: 0px;
    left: 89%;
    border: none;
    background-color: hsl(0, 0%, 17%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: hsl(0, 0%, 26%);
}
.inp-and-btn-container{
    position: relative;
}
.text-container .text{
    font-size: 20px;
    font-size: 25px;
    color: white;
}
::placeholder { 
    color: black;
    opacity: 0.30; 
    font-size: 17px;
}
/* Map */
#map { 
    height:100vh;
    position: absolute;
    height: 70%;
    width: 100%;
    z-index: 0;
}

/* Info Display Container */
.info-display{
    position: absolute;
    width: 1000px;
    height: 150px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -127%);
    border-radius: 16px;
    filter: drop-shadow(0 17px 16px rgba(83, 83, 83, 0.285));
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-specific{
    width: 23%;
    height: 100%;
    border-radius: 16px;
    display: flex;
    padding: 37px;
    gap: 15px;
    box-sizing: border-box;
    flex-direction: column;
}
.title{
    font-size: 12px;
    color: gray;
}
.info{
    font-size: 21px;
    font-weight: bold;
    color: hsl(0, 0%, 17%);
}
.line{
    width: 2px;
    height: 85px;
    background-color: rgba(128, 128, 128, 0.171);
}

@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}